*{
    margin: 0px;
    padding: 0px;
}
.main{
    height:630px;
    width: 1365px;
    margin-top: 30px;
    margin-left: 50px;
}
.left{
    height: 600px;
    width: 680px;
    background-color:aliceblue;
    float: left;
}
input{
    height: 40px;
    width: 265px;
    padding-left:70px;
    margin-top: 50px;
    margin-left : 50px;
    font-size: 16px;
}
.email{
    width: 585px;
    height: 40px;
    position: relative;bottom: 20px;
}
#call{
    height: 40px;
    width: 180px;
    position: relative;
    bottom: 40px;
}
.caret{
    position: relative;
    top: -42px;
    right: 50px;
}
#caret{
    position: relative;
    top: -35px;
    right: 64px;
}
.phone{
    height: 40px;
    width: 410px;
    position: relative;
    bottom: 130px;
    left: 179px;
}
.job{
    width: 590px;
    height: 40px;
    position: relative;bottom: 150px;
}
.pswd{
    height: 40px;
    width: 268px;
    padding-left:85px;
    position: relative;
    bottom: 175px;
}
button{
    height: 37px;
    width: 590px;
    position: relative;
    bottom: 150px;
    left: 50px;
    font-size: 18px;
    color: rgb(51, 131, 201);
    background-color: royalblue;
    color: aliceblue;
}
.hr{
    width: 252px;
    position: relative;
    bottom: 125px;
    left: 53px;
}
p{
    position: relative;
    bottom: 134px;
    left: 330px;
    margin-bottom: 5px;
}
.hr2{
    width: 261px;
    position: relative;
    bottom: 150px;
    left: 373px;
    margin-bottom: 5px;
}
p5{
    position: relative;
    bottom: 140px;
    left: 240px;
    color: rgb(22, 25, 28);
}
p6{
    position: relative;
    bottom: 140px;
    left: 247px;
    color: royalblue;
    font-weight: 600;
}
.ic1{
    position: relative;
    left: -100px;
    bottom: 650px;
}
.ic2{
    position: relative;
    right: -200px;
    bottom: 650px;
}
.ic3{
    position: relative;
    left: -135px;
    bottom: 580px;
}
.img{
    height: 400px;
    width: 600px;
}
.hr3{
    width: 461px;
    position: relative;
    bottom:11px;
    left:73px;
    margin-bottom: 5px;
    border:0.2px solid black;
}
h1{
    font-size: 40px;
    position: relative;
    left:68px;
    bottom: 25px;
}
p7{
    font-style: italic;
    line-height: 25px;
    font-size: 20px;
    margin-left: 64px;
}
h2{
    font-family: serif;
    margin-top: 30px;
    margin-left: 80px;
    color: blueviolet;
}